<li>
    <%= link_to_unless current_page.first?, raw('<i class="bx bx-chevrons-left"></i>'), url, 
      remote: remote, 
      class: "relative inline-flex items-center justify-center w-10 h-10 text-sm font-medium rounded-md text-gray-700 dark:text-gray-300 bg-white dark:bg-zinc-800 border border-gray-300 dark:border-zinc-700 hover:bg-purple-50 dark:hover:bg-purple-900/30 hover:text-purple-700 dark:hover:text-purple-300 transition-all duration-200" %>
  </li>