<section class="bg-ssgrip-darkest min-h-screen text-white">
  <div class="max-w-5xl mx-auto px-6 py-8 space-y-6">
    <div>
      <p class="text-xs text-ssgrip-silver-dark uppercase tracking-[0.3em] mb-2">Products</p>
      <h1 class="text-4xl font-black text-white">Edit Product</h1>
    </div>
    
    <div class="rounded-xl border border-ssgrip-silver/10 bg-ssgrip-darker/30 p-8">
      <%= render 'form' %>
    </div>
  </div>
</section>
